

<form [formGroup]="form" (submit)="onAccessGame()">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-12 col-md-6 col-xl-4 d-flex flex-column  align-items-center">
      <input
          data-cy="input-username"
          class="form-control mb-4"
          type="text"
          name="username"
          formControlName="username"
          placeholder="Insert your username"
          [ngClass]="{
            'mb-4': !(form.controls['username'].touched && form.controls['username'].errors),
            'mb-1': form.controls['username'].touched && form.controls['username'].errors
            }"
          [class.is-invalid]="form.controls['username'].touched && form.controls['username'].errors">
        @if(form.controls['username'].touched && form.controls['username'].hasError('required')) {
          <span class="invalid-feedback mb-4">
            The username is mandatory
          </span>
        }
      <app-button
        data-cy="access-game-btn"
        [disabled]="form.invalid"
        class="text-center"
        [label]="'Join'"
        (onclick)="onAccessGame()">
      </app-button>
    </div>
  </div>

</form>

